* {
  text-decoration: black;
  margin-top: 0;
}
html {
  background-color: black;
}
#logo {
  height: 26px;
  width: 160px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeJyb86Uv9-hdnoFNRRhcMJTNyuB5YmqybQg&usqp=CAU");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 75px;
  opacity: 1;
  cursor: pointer;
}
nav {
  display: flex;
  position: fixed;
  background-color: black;
  height: 75px;
  width: 100%;
}
p {
  margin-top: 20px;
  text-decoration-color: black;
  padding-top: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 180px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}
p:hover {
  opacity: 0.5;
}
#mainPicture {
  height: 1135px;
  width: 100%;
  background: url("https://m.maccosmetics.com/media/export/cms/makeup_services/assets_2019/aptBookingLanding_806x625_v1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}
#mainPicture > h2 {
  padding-top: 300px;
  font-size: 50px;
  padding-left: 40px;
}
#mainPicture > h3 {
  padding-left: 40px;
}
.logos {
  height: 31px;
  width: 31px;
  padding-top: 3px;
  margin-left: 39px;
}

.discoverEvenMore {
  cursor: pointer;
  margin: 0 40px 40px 40px;
  padding: 100px;
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 50px;
}
.discoverEvenMore:hover {
  transition: 0.5s;
  opacity: 0.6;
  border-radius: 70px;
}
span {
  color: black;
}

footer {
  background: #292929;
}

.footerItem {
  color: white;
  list-style: none;
  font-size: 20px;
}
.userIcon {
  height: 26px;
  width: 24px;
  margin-top: 20px;
  border: 1px solid white;
}

#loginName {
  margin-top: 20px;
  color: white;
}
